<% provide(:title, 'About') %>

<div class='about-wrapper static-page-wrapper'>
  <main class='about-main'>
    <div class='top-content left-content'>
      <%= image_tag 'profile-pictures/profile-picture-snowman.jpg', alt: 'bison-hubert-with-snowman', class: 'image-circle profile-pic' %>
    </div>
    <div class='bottom-content right-content'>
      <div class='about-blurb'>
        <p class='about-p'>
          Bison Hubert a is California native who started exploring software development <%= years_coding %> years ago. Once he realized programming felt a lot like wizardry, he began to pursue it professionally. His first Rails application was an attempt to address the problem of hunger in San Francisco. Since then, he finds himself drawn to tech solutions that address health, social, and environmental needs.
        </p>
        <p class='about-p'>
          He is also committed to technical growth, both as a student and a teacher. Since 2015 he has mentored hundreds of students from across the globe looking to find their own way in the programming space. The curriculum bridges web development fundamentals, accelerated learning techniques, emotional intelligence, and sharing feedback.
        </p>
        <p class='about-p'>
          In his spare time he can be found adventuring with friends and family, riding his bike around the Bay Area, reading comic books, and indulging in savory snacks.
        </p>
      </div>
    </div>
  </main>
  <%= render '/layouts/social_media_links' %>
</div>