<% provide(:title, 'Home') %>
<main class='home-wrapper'>
  <h1 class='static-title'>
    <span class='title-span'>Bison Hubert</span>
    <span class='title-span'>Software Developer + Mentor</span>
    <span class='title-span'>Oakland, CA</span>
  </h1>
  <%= render '/layouts/site_navigation' %>
</main>