<% provide(:title, 'Home') %>
<main class='home-wrapper'>
  <h1 class='static-title'>
    <span class='title-span'>Bison Hubert</span>
    <span class='title-span'>Software Developer + Mentor</span>
    <span class='title-span'>Oakland, CA</span>
  </h1>
  <nav class='site-nav-wrapper'>
    <%= link_to 'Portfolio', portfolio_path, class: 'site-nav' %>
    <%= link_to 'Blog', blog_path, class: 'site-nav' %>
    <%= link_to 'About', about_path, class: 'site-nav' %>
  </nav>
</main>
<%= link_to 'Signup', new_user_path %>