<% provide(:title, 'Home') %>

<h1 class='static-title'>
  Bison Hubert is a
  Software Developer + Mentor
  living in Oakland, CA
</h1>

<nav class='site-nav-wrapper'>
  <%= link_to 'Portfolio', portfolio_path, class: 'site-nav' %>
  <%= link_to 'Blog', '#', class: 'site-nav' %>
  <%= link_to 'About', about_path, class: 'site-nav' %>
</nav>