<% provide(:title, 'Home') %>
<h1>
  Bison Hubert is a<br>
  Software Developer and Designer<br>
  based in Oakland, CA
</h1>

<%= link_to 'Portfolio', projects_path %>
<a href="#">Blog</a>
<%= link_to 'About', about_path %>