<% provide(:title, 'Home') %>
<main class='home-wrapper'>
  <h1 class='static-title'>
    <span class='title-span'>Bison Hubert</span>
    <span class='title-span'>Software Developer + Mentor</span>
    <span class='title-span'>Oakland, CA</span>
  </h1>
  <nav class='site-nav-wrapper'>
    <%= link_to 'Portfolio', under_construction_path, class: 'site-nav' %>
    <%= link_to 'Blog', under_construction_path, class: 'site-nav' %>
    <%= link_to 'About', about_path, class: 'site-nav' %>
  </nav>
</main>