<% provide(:title, 'Home') %>
<main class='home-wrapper'>
  <h1 class='static-title'>
    Bison Hubert<br>
    Software Developer + Mentor<br>
    Oakland, CA
  </h1>
  <nav class='site-nav-wrapper'>
    <%= link_to 'Portfolio', portfolio_path, class: 'site-nav' %>
    <%= link_to 'Blog', '#', class: 'site-nav' %>
    <%= link_to 'About', about_path, class: 'site-nav' %>
  </nav>
</main>