<% provide(:title, 'Portfolio') %>

<div class='portfolio-wrapper static-page-wrapper'>
  <header class='site-header'>
    <%= render 'layouts/site_navigation' %>
  </header>
  <main class='portfolio-main'>
    <div class='project-wrapper'>
      
    </div>
  </main>
</div>