<% provide(:title, 'Portfolio') %>

<!-- link to individual project -->
  <!-- nested images -->

<nav class='site-nav-wrapper'>
  <%= link_to 'Blog', '#', class: 'site-nav' %>
  <%= link_to 'About', about_path, class: 'site-nav' %>
  <%= link_to 'Home', home_path, class: 'site-nav' %>
</nav>