<main class='die'>
  <div class='die-wrapper'>
    <%= image_tag 'blog/scattergories-die.png', alt: 'scattergories-die', class: 'die-sprite' %>
    <p class='die-value'></p>
  </div>
  <div class='button-wrapper'>
    <%= button_tag 'Roll', class: 'roll' %>
  </div>
</main>