<% provide(:title, 'Coming Soon') %>
<main class="under-construction">
  <h1 class="under-construction-h1">Bison Hubert Portfolio Site</h1>
  <img class="under-construction-img" src="<%= image_path 'gifs/giphy.gif' %>" alt="under-construction-gif"/>
  <img class="under-construction-img" src="<%= image_path 'gifs/giphy-1.gif' %>" alt="under-construction-gif"/>
  <img class="under-construction-img" src="<%= image_path 'gifs/giphy-2.gif' %>" alt="under-construction-gif"/>
</main>