<% provide(:title, 'Coming Soon') %>

<div class='static-page-wrapper'>
  <%= render 'layouts/site_navigation' %>
</div>

<main class='under-construction'>
  <header class='site-header'>
    <h1 class='under-construction-h1'>Bison Hubert Portfolio Site</h1>
  </header>
  <%= image_tag 'gifs/giphy.gif', alt: 'under-construction-gif', class: 'under-construction-img' %>
  <%= image_tag 'gifs/giphy-1.gif', alt: 'under-construction-gif', class: 'under-construction-img' %>
  <%= image_tag 'gifs/giphy-2.gif', alt: 'under-construction-gif', class: 'under-construction-img' %>
</main>