<main>
  <img src="<%= image_path 'gifs/giphy.gif' %>" alt="under-construction-gif"/>
  <img src="<%= image_path 'gifs/giphy-1.gif' %>" alt="under-construction-gif"/>
  <img src="<%= image_path 'gifs/giphy-2.gif' %>" alt="under-construction-gif"/>
</main>