<tr class='article-row'>
  <td class='article-row-title'><%= link_to article.title, article %></td>
  <td class='article-row-image'><%= link_to (image_tag article.image), article %></td>
  <td class='article-row-summary'><%= link_to article.summary, article %></td>
</tr>