<% if logged_in? %>
  <div class='edit-delete-buttons'>
    <%= link_to 'Edit Article', edit_article_path(@article), class: 'edit-article' %> |
    <%= link_to 'Delete Article', article_path(@article), class: 'delete-article',
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>