<% provide(:title, "Blog") %>
<div class='static-page-wrapper blog-wrapper'>
  <%= render '/layouts/header' %>
  <main class='blog-wrapper'>
    <table class='blog-articles'>
      <%= render @articles %>
    </table>
  </main>
</div>
<%= render 'new_article_logout' %>