<% provide(:title, "Bison Blogs") %>
<%= render 'new_article_logout' %>
<div class='static-page-wrapper blog-wrapper'>
  <%= render '/layouts/header' %>
  <main class='blog-wrapper'>
    <h1>Bison Blogs</h1>
    <table class='blog-articles'>
      <%= render @articles %>
    </table>
  </main>
</div>