<% provide(:title, "Blog") %>
<div class='static-page-wrapper'>
  <main class='blog-wrapper'>
    <table class='blog-articles'>
      <%= render @articles.reverse %>
    </table>
  </main>
</div>
<%= render 'new_article' %>