html, body {
  height: vh;
  width: vw;
  margin: 0;
  background-color: $background-color;
}

h1 {
  font-size: 1.4em;
}

.site-nav {
  font-size: 1em;
}

.under-construction-h1,
.static-title,
.site-nav {
  font-family: $font-stack-sans-serif;
}

.static-title {
  color: $primary-color;
}

.site-nav {
  color: $secondary-color;
  text-decoration: none;
}

.site-nav:hover {
  color: $primary-color;
}