html, body {
  margin: 0;
  background-color: $background-color;
}

.static-title {
  font-size: 1.4em;
}

.under-construction-h1,
.static-title,
.site-nav,
.about-p {
  letter-spacing: 1px;
  font-family: $font-stack-sans-serif;
  line-height: 1.3;
}

.static-title {
  color: $primary-color;
}

.site-nav,
.p-link {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
  }
}

.hidden-link {
  color: $background-color;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.alert {
  color: red;
}

.session {
  color: $background-color;
}


// smartphone portrait
@media only screen and (min-width: $smartphone-portrait) {
  .static-page-wrapper {
    .site-nav-wrapper {
      text-align: center;
      margin: 7% 0;

      .site-nav {
        margin: 2%;
        font-size: 0.8em;
      }

      .header-nav {
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }
}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {
  .static-page-wrapper {    
    .site-nav-wrapper {
      margin: 5% 0;

      .site-nav {
        font-size: 0.9em;
        margin: 2% 5%;
        letter-spacing: 2px;
      }
    }
  }
}



// tablet
@media only screen and (min-width: $tablet-portrait) {
  .home-wrapper {
    .static-title {
      font-size: 2.6em;
      letter-spacing: 2px;
      line-height: 1.3;
    }

    .site-nav {
      font-size: 1.4em;
      letter-spacing: 2px;
    }
  }

  .static-page-wrapper {
    .site-nav-wrapper {
      .site-nav {
        font-size: 1em;
      }
    }
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {
  .static-page-wrapper {
    .site-nav-wrapper {
      margin: 2% 0;
    }
  }
}