html, body {
  height: vh;
  width: vw;
  margin: 0;
  background-color: $background-color;
}

h1 {
  font-size: 1.4em;
}

.site-nav {
  font-size: 1em;
}

.under-construction-h1,
.static-title,
.site-nav {
  letter-spacing: 1px;
  font-family: $font-stack-sans-serif;
}

.static-title {
  color: $primary-color;
}

.site-nav {
  color: $secondary-color;
  text-decoration: none;
}

.site-nav:hover {
  color: $primary-color;
}



// smartphone portrait
@media only screen and (min-width: $smartphone-portrait) {

}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {

}



// tablet
@media only screen and (min-width: $tablet-portrait) {
  .static-title {
    font-size: 2.6em;
    letter-spacing: 2px;
    line-height: 1.3;
  }

  .site-nav {
    font-size: 1.4em;
    letter-spacing: 2px;
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {
  .site-nav:hover {
    text-decoration: overline;
    color: $secondary-color;
  }
}