// mobile portrait
@media only screen and (min-width: $smartphone-portrait) {
  .about-wrapper {
    width: 100%;
    height: 100%;
    
    .site-nav-wrapper {
      text-align: center;
      margin: 7% 0;

      .site-nav {
        margin: 2%;
        font-size: 0.8em;
      }

      .header-nav {
        margin-left: 5%;
        margin-right: 5%;
      }
    }

    .top-content,
    .bottom-content {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      .profile-pic {
        width: 100%;
        border-radius: 50%;
      }

      .about-blurb {
        width: 100%;
        text-align: center;

        .about-p {
          line-height: 1.4;
          margin: 8% 0;
        }
      }

      .social-nav {
        margin: 1%;
        font-size: 0.8em;
      }
    }
  }
}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {
  .about-wrapper {
    .header-nav-wrapper {
      margin: 5% 0;

      .header-nav {
        margin: 2% 6%;
      }
    }

    .social-nav-wrapper {
      margin-top: 4%;

      .social-nav {
        margin: 2% 3.6%;
        font-size: 1.2em;
      }
    }

    .top-content {    
      .profile-pic {
        width: 60%;
      }
    }
    
    .bottom-content {
      .about-p {
        letter-spacing: 1.2px;
      }
  
    }



    .header-nav,
    .social-nav {
      letter-spacing: 2px;
    }
  }
}



// tablet
@media only screen and (min-width: $tablet-portrait) {
  .about-wrapper {
    .site-nav-wrapper {
      .site-nav {
        font-size: 1.5em;
      }
    }

    .bottom-content {
      width: 75%;
      
      .about-p {
        font-size: 1.25em;
      }
    }
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {
  .about-wrapper {
    .header-nav-wrapper,
    .social-nav-wrapper {
      text-align: center;
      margin: 2% 0;

      .site-nav,
      .social-nav {
        font-size: 1.2em;
      }
    }

    .about-main {
      width: 100%;
      height: 100%;
      display: table;
      margin: 6% 0;

      .left-content,
      .right-content {
        width: 50%;
        display: table-cell;
        vertical-align: middle;

        .profile-pic {
          width: 70%;
          margin-right: -55px;
        }

        .about-blurb {
          width: 75%;
          text-align: left;
          margin-bottom: 5%;
        }

        .about-p:first-child {
          margin-top: 4%;
        }

        .about-p:last-child {
          margin-bottom: 0;
        }

        .about-p {
          font-size: 1em;
        }
      }
    }
  }
  // increase font size
}