// mobile portrait
@media only screen and (min-width: $smartphone-portrait) {
  .about-wrapper {
    width: 100%;
    height: 100%;
    
    .header-nav-wrapper,
    .social-nav-wrapper {
      text-align: center;
      margin: 7% 0;

      .header-nav {
        margin: 2%;
        font-size: 1.2em;
      }
    }

    .top-content,
    .bottom-content {
      width: 80%;
      margin: 0 auto;

      .profile-pic {
        width: 100%;
        border-radius: 50%;
      }

      .about-blurb {
        width: 100%;
        text-align: center;

        .about-p {
          line-height: 1.4;
          margin: 8% 0;
        }
      }

      .social-nav {
        margin: 1%;
        font-size: 0.8em;
      }
    }
  }
}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {
  .about-wrapper {
    .header-nav-wrapper {
      margin: 5% 0;
    }

    .social-nav-wrapper {
      margin-top: 4%;
    }

    .top-content {
      width: 60%;
    }
    
    .bottom-content {
      width: 80%;
  
      .social-nav {
        margin: 2%;
        font-size: 1.2em;
      }
    }
  }
}



// tablet
@media only screen and (min-width: $tablet-portrait) {
  .about-wrapper {
    .site-nav-wrapper {
      .site-nav {
        font-size: 1.5em;
      }
    }

    .bottom-content {
      width: 75%;
      
      .about-p {
        font-size: 1.25em;
      }
    }
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {
  // reposition content to sit left to right
  // increase font size
}