// iPhone 5 portrait
@media only screen and (min-width: $smartphone-portrait) {
  .home-wrapper {
    position: absolute;
    bottom: 18%;
    margin-left: 4%;
    font-size: 0.8em;

    .title-span {
      display: block;
    }

    .site-nav {
      margin: 0 1%;
    }

    .site-nav:first-child {
      margin-left: 0;
    }
  }
}



// larger smartphone portrait
@media only screen and (min-width: $smartphone-portrait + 1) {
  .home-wrapper {
    font-size: 1em;
  }
}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {
  .home-wrapper {
    margin-left: 9%;
  }
}



// smaller tablet portrait
@media only screen and (min-width: $tablet-portrait) {
  .home-wrapper {
    margin-left: 5%;
    bottom: 15%;
  }
}



// tablet
@media only screen and (min-width: $tablet-portrait + 1) {
  .home-wrapper {
    margin-left: 12%
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {
  .home-wrapper {
    margin-left: 10%;
    bottom: 17%;
  }
}