// smartphone portrait
@media only screen and (min-width: $smartphone-portrait) {
  .home-wrapper {
    position: absolute;
    bottom: 18%;
    margin-left: 6%;

    .title-span {
      display: block;
    }

    .site-nav {
      margin: 0 1%;
    }

    .site-nav:first-child {
      margin-left: 0;
    }
  }
}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {
  .home-wrapper {
    margin-left: 9%;
  }
}



// tablet
@media only screen and (min-width: $tablet-portrait) {
  .home-wrapper {
    bottom: 15%;
    margin-left: 12%
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {
  .home-wrapper {
    margin-left: 10%;
    bottom: 17%;
  }
}