// smartphone portrait
@media only screen and (min-width: $smartphone-portrait) {
  .home-wrapper {
    position: absolute;
    bottom: 18%;
    margin-left: 6%;

    .static-title,
    .site-nav {
      letter-spacing: 1px;
    }

    .title-span {
      display: block;
    }

    .static-title {
      line-height: 1.4;
    }

    .site-nav {
      margin: 0 1%;
    }

    .site-nav:first-child {
      margin-left: 0;
    }
  }
}



// smartphone landscape
@media only screen and (min-width: $smartphone-landscape) {
  .home-wrapper {
    margin-left: 9%;
  }
}



// tablet
@media only screen and (min-width: $tablet-portrait) {
  .home-wrapper {
    bottom: 15%;
    margin-left: 12%
  }

  .static-title {
    font-size: 2.6em;
  }

  .site-nav {
    font-size: 2em;
  }
}



// desktop
@media only screen and (min-width: $widescreen-monitor) {

  .site-nav {

  }

  .site-nav:hover {
    text-decoration: overline;
    color: $secondary-color;
  }
}