<nav class='site-nav-wrapper header-nav-wrapper'>
  <% if !yield(:title).include?('Home') %>
    <%= link_to 'Home', root_path, class: 'home-site-nav site-nav header-nav' %>
  <% end %>
  <% if !yield(:title).include?('Portfolio') %>
    <%= link_to 'Portfolio', under_construction_path, class: 'home-site-nav site-nav header-nav' %>
  <% end %>
  <% if !yield(:title).include?('Blog') %>
    <%= link_to 'Blog', under_construction_path, class: 'home-site-nav site-nav header-nav' %>
  <% end %>
  <% if !yield(:title).include?('About') %>
    <%= link_to 'About', about_path, class: 'home-site-nav site-nav header-nav' %>
  <% end %>
</nav>