<nav class='site-nav-wrapper header-nav-wrapper'>
  <%= link_to 'Home', root_path, class: 'site-nav header-nav' %>
  <%= link_to 'Portfolio', under_construction_path, class: 'site-nav header-nav' %>
  <%= link_to 'Blog', under_construction_path, class: 'site-nav header-nav' %>
  <%= link_to 'About', about_path, class: 'site-nav header-nav' %>
</nav>