<footer class='site-footer static-page-wrapper'>
  <nav class='site-nav-wrapper social-nav-wrapper'>
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/bisonhubert', target: :_blank, rel: 'noopener', class: 'site-nav social-nav' %>
    <%= link_to 'Github', 'https://www.github.com/bisonhubert', target: :_blank, rel: 'noopener', class: 'site-nav social-nav' %>
    <%= link_to 'Twitter', 'https://www.twitter.com/_bison__', target: :_blank, rel: 'noopener', class: 'site-nav social-nav' %>
    <%= link_to 'Resume', 'https://resume.creddle.io/resume/ic0lbjth23n', target: :_blank, rel: 'noopener', class: 'site-nav social-nav' %>  
  </nav>
</footer>